@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'slider';


// HEADER   ---------------->>>>>>>>--------------------------------

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.menu {
    padding-right: 15px;
}

.menu__list {
    display: flex;

}

.menu__list-item {
    padding-right: 45px;
    padding-left: 35px;
}

.menu__list-link {
    @extend %title-font;
    color: rgba(0, 0, 0, 0.9);
    line-height: 22;
}

.logo {
    margin: 0 auto;
}

.header__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


// FOOTER   ---------------->>>>>>>>--------------------------------

.footer__content {
    background-color: #DFDFDF;
    padding: 60px 0 80px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    width: 540px;
}

.footer__info-title {
    color: $title;
    @extend %title-font;
    margin-bottom: 14px;
    line-height: 23px;
}

.footer__info-text {
    margin-bottom: 16px;
    max-width: 475px;
}

.footer__info-email {
    font-weight: 600;
    color: $title;
    font-size: 14px;
    margin-bottom: 22px;
    padding-left: 30px;
    display: inline-block;
    position: relative;

    &::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 8px;
        background-image: url(../images/envelope.svg);
        width: 16px;
        height: 12px;
    }
}

.footer__form {
    display: flex;
}

.footer__form-input {
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    background-color: transparent;
    border: 1px solid rgba($title, .7);
    width: 100%;

    &::placeholder {
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 27px;
        color: #A1A1A1;
    }
}

.footer__form-button {
    font-weight: 600;
    background-color: $title;
    border: none !important;
    color: #FFFFF0;
    border-radius: 21px;
    min-width: 160px;
    padding: 6px 12px;
    font-weight: 600;
    margin-left: 9px;
    cursor: pointer;
}

.footer__social {
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
    margin-bottom: 15px;
}

.footer__social-item,
.footer__menu-link {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
}

.footer__menu {
    margin-right: 60px;
    width: 125px;
}

.footer__menu-item {
    padding-bottom: 15px;
}

.footer__copyright {
    background-color: $title;
    color: #A1A1A1;
    text-align: center;
    padding: 42px 15px 41px;
}

.footer__social-item {
    position: relative;

    &::before {
        content: ' ';
        position: absolute;
        left: -25px;
        width: 16px;
        height: 16px;
        top: 0;
    }
}

.footer__social-item--facebook {
    &::before {
        background-image: url(../images/facebook.svg);
    }
}

.footer__social-item--instagram {
    &::before {
        background-image: url(../images/instagram.svg);
        width: 14px;
        height: 14px;
        top: 2px;
    }
}

.footer__social-item--pinterest {
    &::before {
        background-image: url(../images/pinterest.svg);
    }
}

.footer__social-item--whatsapp {
    &::before {
        background-image: url(../images/whatsapp.svg);
        width: 14px;
        height: 14px;
        top: 2px;
    }
}

.footer__social-item--youtube {
    &::before {
        background-image: url(../images/youtube.svg);
        width: 18px;
        height: 12px;
        top: 3px;
    }
}


//  RIGHT-SIDE MENU ---------------->>>>>>>>--------------------------------

.rightside-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 700px;
    background-color: #ffffffd8;
    backdrop-filter: blur(10px);
    padding-top: 40px;
    width: 100%;
    box-shadow: 2px 3px 20px 0;
    transition: all .5s;
    z-index: 10000;

    .logo {
        margin-bottom: 40px;
        display: inline-block;
    }
}

.rightside-menu--close {
    transform: translateX(500%);
}

.rightside-menu__close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 60px;
}

.rightside-menu__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
}

.rightside-menu__title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    position: relative;
    margin-bottom: 17px;
    padding-bottom: 17px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 252px;
        margin: 0 auto;
        height: 1px;
        background: #6D7278;
    }
}

.rightside-menu__text {
    margin-bottom: 75px;
}

.rightside-menu__images {
    max-width: 485px;
}

.top {
    position: relative;

    &::after {
        content: '';
        background-image: url('../images/content/main_slider.png');
        top: 0;
        width: 100%;
        position: absolute;
        height: 600px;
        z-index: -1000;
    }
}

.top__inner {
    padding-bottom: 70px;
}

.slider-wrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.top__slider-img {
    max-width: 700px;
    max-height: 615px;
    margin-left: -16%;
    object-fit: cover;
}

.top__slider-wrapper {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 358px;
        height: 605px;
        left: 116px;
        top: 10px;
        background-color: #F1D152;
        z-index: -100;
    }
}

.top__slider-info {
    max-width: 645px;
    margin-left: 25px;
}

.top__slider-title {
    font-size: 110px;
    color: $title;
    line-height: 135px;
    @extend %title-font;
    padding-bottom: 26px;
    margin-bottom: 26px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 185px;
        height: 1px;
        background: #6D7278;
    }
}

.top__slider-text {
    max-width: 545px;
}


//  COLECTION ---------------->>>>>>>>--------------------------------

.new-colection {
    text-align: center;
    padding: 45px 0 105px;
}

.container-fluid {}

.new-colection__title {
    line-height: 51px;
    color: $title;
    font-size: 36px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    @extend %title-font;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        width: 250px;
        height: 1px;
        background: #6D7278;
    }
}

.new-colection__text {
    padding-bottom: 30px;
    max-width: 730px;
    margin: 0 auto;
}

.colection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.colection-item {
    position: relative;
}

.colection__image {
    min-height: 350px;
    object-fit: cover;
}

.colection__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, .7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;

    &:hover {
        opacity: 1;
    }
}

.colection__info-title {
    color: $title;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 19px;
    margin-bottom: 19px;
    position: relative;
    @extend %title-font;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        width: 90%;
        height: 1px;
        background: #6D7278;
    }
}

.colection__info-text {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
}


//  DECOR ---------------->>>>>>>>--------------------------------

.decor {
    padding: 170px 0 155px;
    background-image: url('../images/decor-bg.jpg');
    background-size: cover;
    min-height: 600px;
}

.decor__title {
    max-width: 540px;
    color: $title;
    @extend %title-font;
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        margin: 0 auto;
        bottom: 0;
        width: 200px;
        height: 1px;
        background: #6D7278;
    }
}

.decor__text {
    max-width: 540px;
}


//  WORKS ---------------->>>>>>>>--------------------------------

.works-path {
    padding: 80px 0 30px;
}

.works-path__title {
    text-align: center;
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 40px;
}

.works-path__items {}

.works-path__items-box {
    display: flex;
    border-bottom: 2px solid rgba($title, .7);
    position: relative;
    align-items: flex-end;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $title;
    }
}

.works-path__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 100%;
}

.works-path__item--production {
    margin-left: 317px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2px;
        height: 20px;
        background-color: $title;
    }
}

.works-path__item--production,
.works-path__item--consultation {
    padding-bottom: 38px;
}

.works-path__item--measurements {
    padding-top: 38px;
    margin-left: 305px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 20px;
        background-color: $title;
    }
}

.works-path__item-img {}

.works-path__item-title {
    margin-left: 13px;
    color: $title;
    @extend %title-font;
}

.works-path__item-text {
    margin-top: 13px;
}


//  GALLERY ---------------->>>>>>>>--------------------------------

.gallery {
    padding: 80px 0 90px;
}

.gallery__buttons {
    text-align: center;
    margin-bottom: 40px;
}

.gallery__btn {
    margin: 0 13px;
    background-color: transparent;
    border: 1px solid #454647;
    border-radius: 20px;
    padding: 6px 16px;
    color: #8F8D8D;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: .5s;

    &:hover {
        background-color: #FFEF35;
    }
}

.gallery__inner {}

.gallery__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 35px;
}


.gallery__item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 1150px;
    transition: .5s;

    &:hover {
        opacity: .5;
    }
}

.gallery-hide {
    transition: 1s;
    display: none;
}

.gallery-active {
    background-color: #FFEF35;
    border: 1px solid #FFEF35;
    color: $title;
}

.gallery__items--bottom {
    padding-top: 30px;
}

.resizeImg {
    max-width: 448px;
    max-height: 512px;
    object-fit: cover;
}

.gallery__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
}


//  BLOG BOX ---------------->>>>>>>>--------------------------------

.blog-box {
    padding-bottom: 100px;
}

.blog-box__title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin: 0 auto;
    text-align: center;
    max-width: 430px;
    margin-bottom: 30px;
}

.blog-box__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.blog-box__img-link {
    display: inline-block;
    margin-bottom: 19px;
}

.blog-box__img {
    transition: .5s;
    &:hover {
        opacity: .5;
    }
}

.blog-box__links {
    font-size: 14px;
    margin-bottom: 9px;
    font-weight: 600;
    color: #707070;
}

.blog-box__date,
.blog-box__author,
.blog-box__theme {
    color: inherit;
}

.blog-box__item-title {
    color: $title;
    font-size: 24px;
    line-height: 38px;
    @extend %title-font;
}